<footer class="page-footer purple lighten-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="purple-text">Research And Development NIIT University</h5>
                <p class="purple-text text-darken-4">Mentor: Dr. Prosenjit Gupta</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="purple-text">Members</h5>
                <ul>
                  <li><a class="purple-text text-darken-3" href="https://github.com/RiflerRick">Rajdeep Mukherjee</a></li>
                  <li><a class="purple-text text-darken-3" href="https://github.com/AkarshSrivastav">Akarsh Srivastav</a></li>
                  <li><a class="purple-text text-darken-3" href="https://github.com/AmanJ0205">Aman Jain</a></li>
                  <li><a class="purple-text text-darken-3" href="https://github.com/AshwinJd">Ashwin Jaydev</a></li>
                  <li><a class="purple-text text-darken-3" href="https://github.com/bhargavashronit">Shronit Bhargava</a></li>
                  <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <!--© 2017 Copyright Text-->
            <a class="purple-text text-darken-4 left" href="#">references</a>
            <a class="purple-text text-darken-4 right" href="https://github.com/CrossDomainCollaborativeFiltering">github.com/CrossDomainCollaborativeFiltering</a>
            <!--<br>-->
            <!--<a class="grey-text text-lighten-4 left" href="#">references</a>-->
            </div>
          </div>
        </footer>
</html>