{% include 'head.html' %}
<header>
    <nav>
    <div class="nav-wrapper purple darken-4">
      <a href="#" class="brand-logo center">Model Based Recommender</a>
      <!--<ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>-->
    </div>
  </nav>
</header>
<script>
     $(document).ready(function() {
    $('select').material_select();
  });
    </script>
    <script>
      function clicked()
      {
        var userid=document.getElementById('users').value;
        // alert(userid)
        if (userid==-1)
        {
          Materialize.toast('Please choose a valid user', 4000); // 4000 ms to show the toast
        }
        else
        {
          var route="trainLogRegModel/"+userid;
          window.location.assign(route);
        }
        
      }
      </script>
      <style>
      .refImages{
        display: block;
        max-width:900px;
        max-height:500px;
        width: auto;
        height: auto;
      }
      </style>
<div class="row">
        <div class="col s8 offset-s2">
          <div class="card">
            <div class="card-content">

              

              <span class="card-title">Predict New Movie Ratings</span>
              <!--<p> Select the user : </p>-->
              <div class="row">
                <p>
                    Model Based Collaborative Filtering is an appraoach which uses Machine Learning in order to recommend movies to users. <br> In here we use the present ratings of users to rate movies that the user has not watched. For details regarding the algorithm and its implementation see the documentation.
                    <br>
                    <img class="refImages" src="{{ url_for('static', filename='images/logRegModel.jpg') }}" alt="logRegModel" ><br>

                    First you are required to select a user and train our model to fit the data.
                    </p><br>
                <div class="row">
                     <div class="input-field col s12">
                        <select id="users">
                        <option value="-1" disabled selected>Choose the userid of the user</option>
                        {% for user in users %}
                        <!--Mind what is being used here-->
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                        </select>
                        <label>Select the user</label>
                    </div>
                    
                </div>
                </div>
                <a id="train" onclick="clicked()" class="waves-effect waves-light btn">Train</a>
                
  </div>

            </div>
          </div>
        </div>
</body>
{% include 'foot.html' %}